{% extends 'layout.html' %}

{% block body %}
  <h1>Add Bout</h1>
  {% from "includes/_formhelpers.html" import render_field %}
  <small><form method="POST" action="">
    <div class="form-group">
      {{ render_field(form.fig_name, class_="form-control") }}
    </div>
    <div class="form-group">
      {{ render_field(form.date_, class_="form-control") }}
    </div>
    <div class="form-group">
      {{ render_field(form.event, class_="form-control") }}
    </div>
    <div class="form-group">
      {{ render_field(form.opponent, class_="form-control") }}
    </div>
    <div class="form-group">
      {{ render_field(form.result, class_="form-control") }}
    </div>
    <div class="form-group">
      {{ render_field(form.method_, class_="form-control") }}
    </div>
    <div class="form-group">
      {{ render_field(form.round_, class_="form-control") }}
    </div>
    <div class="form-group">
      {{ render_field(form.time_, class_="form-control") }}
    </div>
    <div class="form-group">
      {{ render_field(form.notes, class_="form-control") }}
    </div>
    <div class="form-group">
      {{ render_field(form.total_fight_time, class_="form-control") }}
    </div>
    <div class="form-group">
      {{ render_field(form.record, class_="form-control") }}
    </div>
    <div class="form-group">
      {{ render_field(form.location, class_="form-control") }}
    </div>
    <p><input class="btn btn-primary" type="submit" value="Submit">
  </form>
{% endblock %}
