{% extends 'layout.html' %}

{% block body %}
  <h1>Bouts <small> Welcome, {{session.username}}</small></h1>
    <a class="btn btn-success" href="/add_bout"> Add Bout</a>
    <p></p>
      <small><table class="table table-striped">
      <tr>
        <th style="padding-left: 20px">Date</th>
        <th>Fighter Name</th>
        <th>Opponent</th>
        <th>Result</th>
        <th>Method</th>
        <th>Round</th>
        <th>Time</th>
        <th>Event</th>
        <th></th>
        <th></th>
      </tr>
      {% for bout in bouts %}
      <tr>
          <td style="padding-left: 20px">{{bout.date_}}</td>
          <td><a href="bout/{{bout.fig_name}}">{{bout.fig_name}}</a></td>
          <td>{{bout.opponent}}</td>
          <td>{{bout.result}}</td>
          <td>{{bout.method_}}</td>
          <td>{{bout.round_}}</td>
          <td>{{bout.time_}}</td>
          <td>{{bout.event}}</td>
          <td><a href="edit_bout/{{bout.hist_id}}" class="btn btn-default pull-right">Edit</a></td>
          <td>
            <form action="{{url_for('delete_bout', id=bout.id)}}" method="post">
              <input type="hidden" name="method" value="DELETE">
              <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Are You Sure For Delete?')">
            </form>
          </td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}