{% extends 'layout.html' %}

{% block body %}
  <h1 align="center">{{fig_name}}</h1>
  <hr>
  <h3 align="center">Statistical Calculations</h3>
  {% for scalc in scalc %}
  <div>
    <table class="table table-striped">
    <tr>
      <th>Offensive</th>
      <th>Defensive</th>
    </tr>
    <tr>
      <td>
        Knockdowns: {{kd.kd}}<br>
        Significant Strikes Landed: {{ssla.ssla}}<br>
        Significant Strikes Attempted: {{ssat.ssat}}<br>
        Significant Strikes Accuracy: {{ssacc.ssacc}}%<br>
        Total Strikes Landed: {{tsl.tsl}}<br>
        Total Strikes Attempted: {{tsat.tsat}}<br>
        Total Strikes Accuracy: {{tsacc.tsacc}}%<br>
        Takedowns Landed: {{tdl.tdl}}<br>
        Takedowns Attempted: {{tdat.tdat}}<br>
        Takedowns Accuracy: {{tdacc.tdacc}}%<br>
        Submission Attempts: {{subs.subs}}<br>
        Passes : {{passes.passes}}<br>
        Reversals: {{rev.rev}}<br>
        Head Landed: {{hsl.hsl}}<br>
        Head Attempted: {{hsat.hsat}}<br>
        Head Accuracy: {{hsacc.hsacc}}%<br>
        Body Landed: {{bsl.bsl}}<br>
        Body Attempted: {{bsat.bsat}}<br>
        Body Accuracy: {{bsacc.bsacc}}%<br>
        Leg Landed: {{lsl.lsl}}<br>
        Leg Attempted: {{lsat.lsat}}<br>
        Leg Accuracy: {{lsacc.lsacc}}%<br>
        Distance Landed: {{dsl.dsl}}<br>
        Distance Attempted: {{dsat.dsat}}<br>
        Distance Accuracy: {{dsacc.dsacc}}%<br>
        Clinch Landed: {{csl.csl}}<br>
        Clinch Attempted: {{csat.csat}}<br>
        Clinch Accuracy: {{csacc.csacc}}%<br>
        Ground Landed: {{gsl.gsl}}<br>
        Ground Attempted: {{gsat.gsat}}<br>
        Ground Accuracy: {{gsacc.gsacc}}%<br>
      </td>
      <td>
        Knockdowns: {{dkd.dkd}}<br>
        Significant Strikes Absorbed: {{dssla.dssla}}<br>
        Significant Strikes Incoming: {{dtsat.dtsat}}<br>
        Significant Strikes Defense: {{dssacc.dssacc}}%<br>
        Total Strikes Absorbed: {{dtsl.dtsl}}<br>
        Total Strikes Incoming: {{dtsat.dtsat}}<br>
        Total Strikes Defense: {{dtsacc.dtsacc}}%<br>
        Takedowns Absorbed: {{dtdl.dtdl}}<br>
        Takedowns Attempted: {{dtdat.dtdat}}<br>
        Takedown Defense: {{dtdacc.dtdacc}}%<br>
        Submission Attempts: {{dsubs.dsubs}}<br>
        Passes : {{dpasses.dpasses}}<br>
        Reversals: {{drev.drev}}<br>
        Head Absorbed: {{dhsl.dhsl}}<br>
        Head Incoming: {{dhsat.dhsat}}<br>
        Head Defense: {{dhsacc.dhsacc}}%<br>
        Body Absorbed: {{dbsl.dbsl}}<br>
        Body Attempted: {{dbsat.dbsat}}<br>
        Body Defense: {{dbsacc.dbsacc}}%<br>
        Leg Absorbed: {{dlsl.dlsl}}<br>
        Leg Incoming: {{dlsat.dlsat}}<br>
        Leg Defense: {{dlsacc.dlsacc}}%<br>
        Distance Absorbed: {{ddsl.ddsl}}<br>
        Distance Attempted: {{ddsat.ddsat}}<br>
        Distance Defense: {{ddsacc.ddsacc}}%<br>
        Clinch Absorbed: {{dcsl.dcsl}}<br>
        Clinch Incoming: {{dcsat.dcsat}}<br>
        Clinch Defense: {{dcsacc.dcsacc}}%<br>
        Ground Absorbed: {{dgsl.dgsl}}<br>
        Ground Attempted: {{dgsat.dgsat}}<br>
        Ground Defense: {{dgsacc.dgsacc}}%<br>
      </td>
    </tr>
  </div>
  {% endfor %}
  {% endblock %}